NEXT_PUBLIC_SITE_URL=https://grocto.in

MAIL_HOST=smtpout.secureserver.net
MAIL_PORT=465
MAIL_USER=admin@grocto.co.in
MAIL_PASS=
MAIL_FROM=admin@grocto.co.in
MAIL_TO=support@grocto.co.in
MAIL_SECURE=true
